header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 60px;
    background-color: #D3D3D3;
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
}

header h1{
    position: fixed;
    left: 3%;
}

.menu {
    right: 3%;
    position: fixed;

}

.menu img {
    height: 40px;
}

.menu span{
    position: fixed;
    top: 1.8%;
    right: 6%;
    font-size: 22px;
    font-weight: bold;
}

body {

}

.header {
    top: 0%;
    left: 0%;
    right: 0%;
    height: 60px;
}

.adicionar{
    background-color: #228B22;
    color: white;
    font-weight: bold;
    width: 100px;
    height: 30px;
}